@{
    ViewData["Title"] = "Balance";
    var balance = ViewData["Balance"] as int? ?? 0;
    var value = ViewBag.value as int? ?? 0;
}

<p>@balance créditos</p>
<br>
<span id="counter">@value </span> serão cobrados
<br>

<BR>
<label for="Receiver">Enviar para:</label>
<input type="number" name="Receiver" id="Receiver" placeholder="Número do contato">
<br>
<label for="messageInput">Escreva sua mensagem</label>
<br>
<textarea id="messageInput" oninput="updateCounter()" name="messageInput" rows="4" cols="80"></textarea>
<br>
<form asp-controller="User" asp-action="DealWith" method="post" 
      onsubmit="return validateCounter(@value, @balance)">
    <input type="hidden" id="value" name="value" required />
    <input type="hidden" id="message" name="message" required />
    <button type="submit">Enviar</button>
</form>
<br>
<script>
    function updateCounter() {
        var messageInput = document.getElementById("messageInput");
        var counter = document.getElementById("counter");
        var valueInput = document.getElementById("value");
        var messageInputValue = messageInput.value;

        var textLength = messageInputValue.length;
        var value = Math.ceil(textLength / 153);

        counter.textContent = value;
        
        valueInput.value = value;
        document.getElementById("message").value = messageInputValue;
    }

    function validateCounter(counter, balance) {
        if (counter > balance) {
            alert("O valor é maior do que seu saldo atual. A mensagem não será enviada."); // ver pq nn ta funcionando
            return false;
        }
        return true; 
    }
</script>
