@{
    var status = ViewData["status"] as string;
}
<p>@status</p>
<p>Give balance by ID or phone number</p>
<form asp-controller="User" asp-action="Provide" method="post">
<label for="Quantity">Quantidade</label>
<input type="number" id="value" name="value" required />
<label for="Receiver">Receptor</label>
<input type="number" id="ReceiverID" name="ReceiverID">
<button type="submit">Enviar</button>
</form>