<div id="toggleContainer">
<button id="toggleButton" class="slide-button">Cadastrar-se</button>
</div>
<div id="loginForm">
    <form asp-controller="User" asp-action="LoginUser" method="post">
        <label for="Email">Email</label>
        <input type="email" name="Email" placeholder="Email" required>
        <br>
        <br>
        <label for="Password">Senha</label>
        <input type="password" name="password" placeholder="Senha" required>
        <br>
        <button type="submit" class="btn btn-primary">Logar</button>
    </form>
</div>

<div id="registrationForm" style="display: none;">
    <form asp-controller="User" asp-action="CreateUser" method="post">
        <label for="Email">Email</label>
        <input type="email" name="Email" placeholder="Email" required>
        <br>
        <label for="Phone">Celular</label>
        <input type="tel" name="phone_number" placeholder="Telefone" required>
        <br>
        <label for="CPF">CPF</label>
        <input type="text" name="CPF" placeholder="CPF" required>
        <br>
        <label for="Password">Senha</label>
        <input type="password" name="password" placeholder="Senha" required>
        <br>
        <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>
</div>


<script>
    var isRegisterForm = true;

    document.getElementById("toggleButton").addEventListener("click", function () {
        var loginForm = document.getElementById("loginForm");
        var registrationForm = document.getElementById("registrationForm");
        var toggleButton = document.getElementById("toggleButton");

        if (isRegisterForm) {
            loginForm.style.display = "none";
            registrationForm.style.display = "block";
            toggleButton.classList.add("slide-left");
            toggleButton.innerText = "Login";
        } else {
            loginForm.style.display = "block";
            registrationForm.style.display = "none";
            toggleButton.classList.remove("slide-left");
            toggleButton.innerText = "Cadastrar-se";
        }

        isRegisterForm = !isRegisterForm;
    });
</script>
