<form id="yourFormId" asp-controller="User" asp-action="GetReportDetailed" method="get" onsubmit="return validateDateRange()">
    <label for="BeginningDate">Data inicial:</label>
    <input type="date" id="BeginningDate" name="BeginningDate" required>
    <br />
    <label for="EndDate">Data final:</label>
    <input type="date" id="EndDate" name="EndDate" required>
    <br/>
    @* <label for="Delivered">Selecione o status das mensagens:</label>
    <select name="Delivered" id="Delivered">
            <option value="all">Todos</option>
            <option value="true">Entregues</option>
            <option value="false">Não Entregues</option>
        </select> *@
    <br>
    <label for="Receiver">Enviado para:</label>
    <input type="number" id="Receiver" name="Receiver">
    <br/>
    <br/>
    <button type="submit">Pesquisar</button>
</form>

<script>
    function validateDateRange() {
        var beginningDate = new Date(document.getElementById("BeginningDate").value);
        var endDate = new Date(document.getElementById("EndDate").value);
        var receiver = document.getElementById("Receiver").value;

        if (beginningDate > endDate) {
            alert("O período inserido é inválido");
            return false;
        }

        if (receiver.trim() !== "") {
            var numericPhone = receiver.replace(/\D/g, '');

            if (numericPhone.length !== 11 || isNaN(numericPhone)) {
                alert("Número de telefone inválido. Deve conter 11 dígitos numéricos.");
                return false;
            }
        }

        return true;
    }

    document.getElementById("yourFormId").onsubmit = validateDateRange;
</script>
