<form id="yourFormId" asp-controller="User" asp-action="ReportDetailed" method="get" onsubmit="return validateDateRange()">
    <label for="BeginingDate">Data inicial:</label>
    <input type="date" id="BeginingDate" name="BeginingDate" required>
    <br />
    <label for="EndDate">Data final:</label>
    <input type="date" id="EndDate" name="EndDate" required>
    <br/>
    <label for="Receiver">Enviado para:</label>
    <input type="number" id="Receiver" name="Receiver">
    <br />
    <label for="Delivered">Status do SMS:</label>
    <select id="Delivered" name="Delivered">
        <option value="null">Todos</option>
        <option value="true">Entrege</option>
        <option value="false">Nao entrege</option>
    </select>
    <br />
    <button type="submit">Pesquisar</button>
</form>

<script>
    function validateDateRange() {
        var beginningDate = new Date(document.getElementById("beginningDate").value);
        var endDate = new Date(document.getElementById("endDate").value);

        if (beginningDate > endDate) {
            alert("O periodo inserido e invalido");
            return false;
        }

        return true;
    }

    // Attach the validateDateRange function to the form's onsubmit event
    document.getElementById("yourFormId").onsubmit = validateDateRange;
</script>
