@page "/Login"

<h1>Login</h1>

<input placeholder="EMAIL" @bind="EMAIL">
<input placeholder="SENHA" @bind="SENHA">
<a href="Register">Register</a>
@code{
    string? EMAIL;
    string? SENHA;

    
}